<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Polohov.Properties.Settings.SkladConnectionString"
            connectionString="Data Source=COMP;Initial Catalog=Sklad;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="Polohov.Properties.Settings.sklad5ConnectionString"
            connectionString="Data Source=.\SQLEXPRESS;AttachDbFilename=|DataDirectory|\sklad5.mdf;Integrated Security=True;Connect Timeout=30;User Instance=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>